*.log
.DS_Store
.claude/settings.local.json
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
/.fleet
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed
/auth.json
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/pail
/vendor
packages/*/*/vendor
packages/*/*/composer.lock
packages/*/*/.phpunit.cache
packages/*/*/.phpunit.result.cache
Homestead.json
Homestead.yaml
Thumbs.db
